.DS_Store
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting
/bin/

.classpath
.settings
.prefs
*.project

natives/windows/bin
natives/windows/obj
*.pdb
*.suo
*.user

.idea/
natives/windows/.vs/
