#!/bin/bash
APPLICATION_HOME="$( cd "$( dirname "$0" )" && pwd )"
cd "$APPLICATION_HOME"

INCLUDES_JRE={{includesJre}}
VM_ARGS="{{vmArgs}}"
APP_ARGS="{{appArgs}}"
MAIN_CLASS_NAME={{mainClassName}}
CLASSPATH="{{classpath}}"

if $INCLUDES_JRE ; then
	JAVA_COMMAND="$APPLICATION_HOME/jre/bin/java"
else
	JAVA_COMMAND="java"
fi

exec "$JAVA_COMMAND" "$VM_ARGS" -classpath "$CLASSPATH" "$MAIN_CLASS_NAME" "$APP_ARGS"